.menu-bar {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #e1e1e1;
}

.menu-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-list li {
    margin-right: 20px;
}

.menu-list li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.menu-list li a.active {
    color: #007bff;
}

.user-info {
    display: flex;
    align-items: center;
}

.username {
    margin-right: 10px;
    font-weight: bold;
}

.user-info a {
    text-decoration: none;
    color: #333;
    margin-left: 10px;
}
