body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: navy;
    margin-left: 20px;
}

#create_task_form {
    background-color: rgb(255, 255, 255);
    width: 100%; /* Adjust width to be responsive */
    max-width: 300px; /* Maximum width */
    box-sizing: border-box; /* Include padding and border in the element's width */
    padding: 10px; /* Add some padding */
}
.user_message{
    color: red;
}

#app_header {
    background-color: grey;
    width: 100%;
    height: 100px;
}

#list_tasks {
    background-color: rgb(255, 255, 255);
    width: 100%; /* Make it responsive */
}

/* Media query for tablets */
@media (min-width: 600px) and (max-width: 1024px) {
    #create_task_form, #list_tasks {
        padding: 15px;
        max-width: 1000px; /* Adjust max width for tablets */
    }

    #app_header {
        height: 80px; /* Adjust header size for tablets */
    }
}

/* Media query for desktops */
@media (min-width: 1024px) {
    #create_task_form, #list_tasks {
        padding: 20px;
        max-width: 300px; /* Keep original max width for desktop */
    }

    #app_header {
        height: 100px; /* Original header size for desktops */
    }
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    cursor: pointer;
}

th:hover {
    background-color: #ddd;
}

.task-container {
    margin-bottom: 40px;
}

.task-container h2 {
    margin-bottom: 10px;
}


.task-container table th {
    cursor: pointer;
}

.task-container table th:hover {
    background-color: #ddd;
}

.task-container table th, .task-container table td {
    padding: 10px;
}

.task-container button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.task-container button:hover {
    background-color: #45a049;
}

.create-task-form-container {
    margin-bottom: 20px;
}

.create-task-form-container h2 {
    margin-bottom: 10px;
}

.create-task-form-container form {
    width: 50%; 
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-task-form-container form label {
    display: block;
    margin-bottom: 10px;
}

.create-task-form-container form input[type="text"],
.create-task-form-container form input[type="password"],
.create-task-form-container form select,
.create-task-form-container form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.create-task-form-container form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#Create_Task_Button > a > button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#toggle > a > button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#userTable {
    font-family: Georgia, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#userTable th,
#userTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    width: 50%; /* Equal width for all columns */
}

#userTable th {
    background-color: #f2f2f2;
    color: #333;
    cursor: pointer;
}

#userTable th:hover {
    background-color: #ddd;
}

#userTable th:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 8px;
    border: 5px solid transparent;
    border-top: 5px solid #333;
    transition: transform 0.3s;
}

#userTable th.desc:after {
    border-top: none;
    border-bottom: 5px solid #333;
    transform: translateY(-50%) rotate(180deg);
}

#userTable th.asc:after {
    transform: translateY(-50%);
}

#userTable th.sorted:hover:after {
    opacity: 0.7;
}

#userTable th.sorted:after {
    opacity: 1;
}

#userTable th.sorted.asc:after {
    transform: translateY(-50%) rotate(180deg);
}

#userTable th.sorted {
    background-color: #ddd;
}

#userTable th.sorted:hover {
    background-color: #ddd;
}

.create-task-form-container form button[type="submit"]:hover {
    background-color: #45a049;
}


.form_container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form_container h2 {
    margin-top: 0;
}

.form_container form {
    margin-bottom: 20px;
}

.form_container form label {
    display: block;
    margin-bottom: 5px;
}

.form_container form input[type="text"],
.form_container form select,
.form_container form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form_container form button[type="submit"],
.form_container form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form_container form button[type="submit"]:hover,
.form_container form button:hover {
    background-color: #45a049;
}

.form_container form a {
    text-decoration: none;
}

.form_container form a button {
    background-color: #f44336;
}

.form_container form a button:hover {
    background-color: #d32f2f;
}

/* Responsive CSS */
@media screen and (max-width: 600px) {
    .form_container {
        width: 90%;
    }
}

#chartContainer {
    width: 25%; /* Set the width to 50% of the viewport */
    margin: auto; /* Center the container */
}
canvas {
    display: block; /* Avoids issues with inline rendering */
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}
h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}